@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500&display=swap");

// fonts
$base-font: "Barlow", sans-serif;

// colors
$primary-grey: rgba(249, 249, 249, 1);
$primary-white: rgba(255, 255, 255, 1);
$primary-black: rgba(0, 0, 0, 1);
$secondary-light-grey: rgba(0, 0, 0, 0.08);
$secondary-dark-grey: rgba(0, 0, 0, 0.32);
