@use "../../sass/variables";

.modalOverlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  left: 0;
}

.modalContainer {
  position: fixed;
  background: variables.$primary-white;
  width: 80%;
  padding: 48px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  .clickableIcon {
    position: absolute;

    top: 5%;
    right: 5%;
  }
}
